.github
.git
.gitignore
.DS_Store
docs
release
kubernetes
node_modules
/.svelte-kit
/package
.env
.env.*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
__pycache__
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
coverage
dist
build
.idea
venv
.venv
backend/.venv
_old
uploads
.ipynb_checkpoints
**/*.db
_test
backend/data/*
*.tar
*.tar.gz
*.tgz
*.zip
